<h1>Diffie Hellman</h1>
<p>
  <%= form_tag(:action => "create") do %>
    A has sent you the key A = g^a mod p = 5^a mod 23 = 8<br>
    B has sent you the key B = g^b mod p = 5^b mod 23 = 19<br>
    Your key is x = 5<br><br>
    Which key do you share with A? (hint: key = A^x mod p = 8^5 mod 23)<br>
    <%= text_field(:b, "key")%><br>
    <br>
    Which key do you share with B? (hint: key = B^x mod p = 19^5 mod 23)<br>
    <%= text_field(:a, "key")%>
    
    
    <br><br>
    <%= submit_tag("Submit") %>
  <% end %>
</p>
