    <h1>Tracker Attack</h1>
    <p>
      <b>Mission</b><br>
      <div style="width:400px">
        You have just finished your exam in EIT666 Computer Unsecurity at the university of Oklahoma. 
        A stranger walks up to you and starts whispering in your ear. 
        He explains that he's an avid gambler and would like to challenge your score.
        With a bet of $500 he wages that he has the same or higher score than you.
        He gives you a week to decide.
        <br><br>
        He knows that the school has a statistical database where one can gather mathematical means for exam results.
        He knows that no query can give results on query sets that contain to few or too many results.
        You know that too, but you also know about the concept of Tracker Attacks.
        <br><br>
        As he walks away you notice that his grey hair makes him look older than all other students in the class. You gess that his age is between 40 and 50 years.
        <br><br>
        All you have to do is figure out his score and compare it with your own to make a decision that would net you and easy $500 or walk away with no loss.
        <br><br>
        Please provide your STIl-identity to begin your mission.
      </div>
    </p>
    <p>
      <%= form_tag(:action => "index") do %>
        <b>STIL-Identity</b><br>
        <%= text_field(:un, "un") %><br>
        <%= submit_tag("Submit") %><br>
      <% end %>
    </p> 

