<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Site down for maintenance</title>
    <p>
      <h1>Site down for maintenance</h1>
      ETA: Friday 21-01-2011 12:00
    </p>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
