<h1>Bell-LaPadula Access Model</h1>
<p style="width:400px">
  Bla bla  
  <br><br>
  Bla bla
</p>
<hr>
<p>
  <%= form_tag(:action => "create") do %>
    <b>STIL Identity</b><br>
    <%= text_field(:un, "un") %><br>
    <%= submit_tag("Submit") %><br>
  <% end %>
</p> 