<h1>Linux Access Control</h1>
<p style="width:400px">
  You will be presented with three sets of questions, with a total of fourteen questions. All of them must be answered correctly to pass the project.
  After having answered more than half of the questions in a section correctly you will be presented with the number of correct questions in that section.
  
  <br><br>
  Your assignment paramaters will be unique to you. You have five tries to answer them correctly. After your five tries the project is
  regenerated and you will be given new values. Remember that any access to the next page generates a trie, so be careful with page reloads.
</p>
<hr>
<p>
  <%= form_tag(:action => "index") do %>
    <b>STIL Identity</b><br>
    <%= text_field(:un, "un") %><br>
    <%= submit_tag("Submit") %><br>
  <% end %>
</p> 