<h1>Windows Access Control</h1>
<h2>Introduction</h2>

<p style="width:400px">
  You will be presented with four files on a Windows system. For each file you will have to answer two to three yes or no questions 
  regarding access to said files. You will have to use your knowledge of DACLs, ACEs and tokens to complete the project. 
  
  <br><br>
  The files and questions will be generated for your STIL account and you will have an unlimited amount of tries to complete the project. 
  You will be notified of your progress when you have more than 80% correct answers. 
</p>
<hr>

<p>
  <%= form_tag(:action => "create") do %>
    <b>STIL Identity</b><br>
    <%= text_field(:un, "un") %><br>
    <%= submit_tag("Submit") %><br>
  <% end %>
</p> 